.idea/
.DS_Store
__pycache__

# jupyter checkpoints
.ipynb_checkpoints

# matlab files
*.asv
*.mat
*.dat
*.m~

# pyHolo user files and raw-devel files
pyHolo_userFolder
raw_resources

# gui support files
pyHolo/gui/SupportFiles/*Holos/*.png
pyHolo/gui/SupportFiles/*Level*/*.png
pyHolo/gui/SupportFiles/oldCode_2_remove
