# pyCharm
.idea/

# macOSx
.DS_Store

# python
*.pyc
__pycache__

# matlab
*.asv
*.mat
*.dat

# temporary files
*2remove
*.bkup
*.tmp

# gui support images
gui/SupportFiles/*Holos/*.png
gui/SupportFiles/*Level*/*.png


# USER files
# calibration files
SLM_calibrations
Holograms
Images

# logo source
logo.psd