.idea/
.DS_Store
__pycache__

# jupyter checkpoints
.ipynb_checkpoints

# matlab files
*.asv
*.mat
*.dat
*.m~

# pyHolo files
beam_design/*.png

gui/SupportFiles/*Holos/*.png
gui/SupportFiles/*Level*/*.png
gui/SupportFiles/oldCode_2_remove

SLM_calibrations

Holograms

Images
Images_bkup

logo.psd
